@font-face {
    font-family: hpfont;
    src: url(../../HARRYP__.TTF)
}


.settings{
    display: flex;
}


.settingsWrapper{
    flex: 9;
    padding: 20px;
}

#fileInput{
    display: none;
}

.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingsDeleteAccount{
    color: red;
    cursor: pointer;
}

.settingsUpdateTitle,.settingsDeleteTitle{
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(94, 67, 21);
    font-weight: bolder;
}

.settingsDeleteTitle{
    font-size: 14px;
    cursor: pointer;
}


.settingsForm{
    display: flex;
}


.settingsPP{
    display: flex;
    align-items: center;
    margin-top: 120px;
    margin-left: 20px;
    margin-bottom: 10px;
    flex: 6;
}

.inputError{
    color: red;
    font-weight: bold;
    margin-left: 20px;
    font-size: 16px;
}

.settingsProfilePictureIcon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 15px;
    background-color: #e4dab9;
    color: rgb(155, 111, 35);
    border-radius: 10px;
    border: 1px solid brown;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.settingsInputStep > label {
    font-weight: bold;
    color: rgb(155, 111, 35);
    font-size: 20px;
    margin-top: 20px;
}


.settingsFormSubmit {
    background-color: #e4dab9;
    color: rgb(155, 111, 35);
    font-weight: bold;
    border: 1px solid brown;
    margin-top: 10px;
    align-self: flex-start;
    width: 80px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}


.profilePicture{
    width: 250px;
    height: 250px;
    border-radius: 10%;
    object-fit: cover;
}

#credentialsInput{
    color: rgb(94, 67, 21);
    margin-bottom: 25px;
    width: 300px;
    border: none;
    border-bottom: 1px solid rgba(165,42,42,0.3);
    color: black;
    margin-top: 10px;
    height: 30px;
    outline: none;
}

.settingsSteps{
    flex: 6;
    align-self: center;
    margin-top: 120px;
}
