@font-face {
    font-family: hpfont;
    src: url(../../HARRYP__.TTF)
}

.posts {
    flex: 9;
    display: flex;
    flex-wrap: wrap;
}


/* background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)) ,url("https://c0.wallpaperflare.com/preview/792/954/443/background-burnt-damaged-grunge.jpg"); */
