@font-face {
    font-family: hpfont;
    src: url(../../HARRYP__.TTF)
}

.post{
    margin: 0px 25px 45px 25px;
    width: 385px;
}


.postImg{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.postCategories{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: #bea552;
    cursor: pointer;
    margin-bottom: 10px;
}


.postTitle {
    font-family: 'Lora', serif;
    font-size: 28px;
    font-weight: 900;
    color:silver;
}

.postDate {
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    font-size: 13px;
    color: silver;
    margin-top: 15px;
}

.postUsername{
    color: #bea552;
}


.postDesc{
    width: 200px;
    font-family: 'Lora', serif;
    font-size: 14px;
    font-style: italic;
    color:  #f5efe1;
    margin-top: 10px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-self: center;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}