@font-face {
    font-family: hpfont;
    src: url(../../HARRYP__.TTF)
}


#fileInput {
    display: none;
}


.write {
    padding-top: 50px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9))
}


.writeForm{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.writeFormGroup{
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}

.writeIcon{
    width: 25px;
    height: 25px;
    margin-right: 15px;
    background-color: #e4dab9;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid brown;
    border-radius: 30%;
    font-size: 20px;
    color: rgb(155, 111, 35);
    cursor: pointer;
}


.writeInput{
    font-size: 30px;
    border: none;
    padding: 10px;
    width: 70vw;  
    margin-bottom: 20px;
    border-radius: 12px;  
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)),url("https://st.depositphotos.com/1897095/1680/i/450/depositphotos_16800109-stock-photo-glowing-paper.jpg");
}


.writeInput:focus {
    outline: none;
}


.writeText{
    font-size: 18px;
    width: 70vw;    
    height: 100vh;
    resize: none;
}


.writeSubmit{
    position: absolute;
    top:145px;
    right: 50px;
    color: rgb(155, 111, 35);
    background-color: #e4dab9;
    border-radius: 10px;
    border: 1px solid brown;
    cursor: pointer;
    font-size: 20px;
}


.writeSelectFile{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.writeImg {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}


.writeSelectCat {
    width: 70vw;
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    color: gold;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
    
}



.writeSelectFilePlease{
    color: #e4dab9;
}

.writeSelectCatPlase{
    margin-top: 15px;
    width: 70vw;
    color: #e4dab9;
    display: flex;
    justify-content: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Dancing Script', cursive;
    color: black;
    opacity: 0.7; /* Firefox */
  }