.singlePost {
    flex:9;
    background-color: rgba(228,218,185,0.3);
}

.singlePostWrapper {
    padding: 20px;
    padding-right: 0px;
}


.singlePostImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle{
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px;
    text-align: center;
    font-size: 28px;
}


.singlePostEdit{
    float: right;
    font-size: 18px;
}


.singlePostIcon{
    cursor: pointer;
    margin-left: 10px;
}


.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    font-size: 16px;
    color: #5F021F;
    font-family: 'Yusei Magic', sans-serif;
    display: flex;
}



.singlePostDesc{
    color: #666;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 17px;
}

.singlePostAuthor{
    flex: 2;
}

.singlePostCat{
    flex:5;
}

.singlePostDate{
    font-style: italic;
    margin-right: 10px;
}



.singlePostDesc:first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.singlePostDescInput {
    border: none;
    color: #666;
    font-size: 18px;
    line-height: 25px;
  }
  
  .singlePostDescInput:focus {
    outline: none;
  }

  .singlePostTitleInput {
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
    text-align: center;
    justify-content: center;
    align-self: center;
    border: none;
    color: gray;
    border-bottom: 1px solid lightgray;
  }
  
  .singlePostTitleInput:focus {
      outline: none;
}


.singlePostInput{
    font-size: 30px;
    border: none;
    padding: 10px;
    width: 70vw;  
    margin-bottom: 20px;
    border-radius: 12px;  
}

.singlePostText{
    font-size: 18px;
    width: 70vw;    
    height: 100vh;
    resize: none;
}

.singlePostInput:focus {
    outline: none;
}

