#fileInput {
    display: none;
}


.write {
    padding-top: 50px;
}


.writeForm{
    position: relative;
}


.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.writeIcon{
    width: 25px;
    height: 25px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid brown;
    border-radius: 30%;
    font-size: 20px;
    color: rgb(155, 111, 35);
    cursor: pointer;
}


.writeInput{
    font-size: 30px;
    border: none;
    padding: 10px;
    width: 70vw;    
}


.writeInput:focus {
    outline: none;
}


.writeText{
    font-size: 18px;
    width: 70vw;    
    height: 100vh;
    resize: none;
}


.writeSubmit{
    position: absolute;
    top:20px;
    right: 50px;
    color: rgb(155, 111, 35);
    background-color: beige;
    border-radius: 10px;
    border: 1px solid brown;
    cursor: pointer;
    font-size: 20px;
}

.writeImg {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}